## Preprocessing

In [35]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf

#  Import and read the charity_data.csv.
import pandas as pd 
application_df = pd.read_csv("Resources/charity_data.csv")
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [36]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
application_df = application_df.drop(['EIN', 'NAME'], axis = 1)

In [37]:
# Determine the number of unique values in each column.
application_df.nunique()

APPLICATION_TYPE            17
AFFILIATION                  6
CLASSIFICATION              71
USE_CASE                     5
ORGANIZATION                 4
STATUS                       2
INCOME_AMT                   9
SPECIAL_CONSIDERATIONS       2
ASK_AMT                   8747
IS_SUCCESSFUL                2
dtype: int64

In [38]:
# Look at APPLICATION_TYPE value counts for binning
app_type_count = application_df['APPLICATION_TYPE'].value_counts()
app_type_count

T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: APPLICATION_TYPE, dtype: int64

In [39]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`
application_types_to_replace = list(app_type_count[app_type_count<500].index)

# Replace in dataframe
for app in application_types_to_replace:
    application_df['APPLICATION_TYPE'] = application_df['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure binning was successful
application_df['APPLICATION_TYPE'].value_counts()

T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
Other      276
Name: APPLICATION_TYPE, dtype: int64

In [40]:
# Look at CLASSIFICATION value counts for binning
classification_count = application_df['CLASSIFICATION'].value_counts()
classification_count

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C4120        1
C8210        1
C2561        1
C4500        1
C2150        1
Name: CLASSIFICATION, Length: 71, dtype: int64

In [41]:
# You may find it helpful to look at CLASSIFICATION value counts >1
more_than_one = classification_count[classification_count > 1]
more_than_one

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
C2800       95
C7100       75
C1300       58
C1280       50
C1230       36
C1400       34
C7200       32
C2300       32
C1240       30
C8000       20
C7120       18
C1500       16
C1800       15
C6000       15
C1250       14
C8200       11
C1238       10
C1278       10
C1235        9
C1237        9
C7210        7
C2400        6
C1720        6
C4100        6
C1257        5
C1600        5
C1260        3
C2710        3
C0           3
C3200        2
C1234        2
C1246        2
C1267        2
C1256        2
Name: CLASSIFICATION, dtype: int64

In [42]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`
classifications_to_replace = list(more_than_one[more_than_one < 500].index)

# Replace in dataframe
for cls in classifications_to_replace:
    application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(cls,"Other")
    
# Check to make sure binning was successful
application_df['CLASSIFICATION'].value_counts()

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
Other     1458
C7000      777
C1370        1
C1236        1
C2190        1
C4200        1
C5200        1
C6100        1
C2600        1
C1248        1
C1580        1
C1820        1
C1900        1
C2570        1
C1283        1
C3700        1
C2500        1
C1570        1
C2380        1
C1732        1
C1728        1
C2170        1
C4120        1
C8210        1
C4500        1
C1245        1
C2561        1
C2150        1
Name: CLASSIFICATION, dtype: int64

In [43]:
# Convert categorical data to numeric with `pd.get_dummies`
# application_df.dtypes
dummies = pd.get_dummies(application_df, columns = ['APPLICATION_TYPE', 'AFFILIATION', 'CLASSIFICATION', 'USE_CASE', 'ORGANIZATION', 'INCOME_AMT', 'SPECIAL_CONSIDERATIONS'])
dummies.head()

,STATUS,ASK_AMT,IS_SUCCESSFUL,APPLICATION_TYPE_Other,APPLICATION_TYPE_T10,APPLICATION_TYPE_T19,APPLICATION_TYPE_T3,APPLICATION_TYPE_T4,APPLICATION_TYPE_T5,APPLICATION_TYPE_T6,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1,5000,1,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
1,1,108590,1,0,0,0,1,0,0,0,...,1,0,0,0,0,0,0,0,1,0
2,1,5000,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,1,0
3,1,6692,1,0,0,0,1,0,0,0,...,0,1,0,0,0,0,0,0,1,0
4,1,142590,1,0,0,0,1,0,0,0,...,0,0,1,0,0,0,0,0,1,0

In [44]:
# Split our preprocessed data into our features and target arrays
X = dummies.drop(['IS_SUCCESSFUL'],1).values
y = dummies['IS_SUCCESSFUL'].values

# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=78)

<ipython-input-44-b90ee8024610>:2: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only
  X = dummies.drop(['IS_SUCCESSFUL'],1).values

In [45]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

## Compile, Train and Evaluate the Model

In [46]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
number_features = len(X_train[0])
hidden_layer1 = 80
hidden_layer2 = 30
nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_layer1, input_dim=number_features, activation="relu"))

# Second hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_layer2, activation="relu"))

# Output layer
nn.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

# Check the structure of the model
nn.summary()

Model: "sequential_3"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_10 (Dense)            (None, 80)                5680

 dense_11 (Dense)            (None, 30)                2430

 dense_12 (Dense)            (None, 1)                 31

=================================================================
Total params: 8,141
Trainable params: 8,141
Non-trainable params: 0
_________________________________________________________________

In [47]:
# Compile the model
nn.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [48]:
# Train the model
fit_model = nn.fit(X_train, y_train,epochs=30)

Epoch 1/30
804/804 [==============================] - 1s 1ms/step - loss: 111606.2188 - accuracy: 0.5092
Epoch 2/30
804/804 [==============================] - 1s 1ms/step - loss: 65741.8672 - accuracy: 0.5030
Epoch 3/30
804/804 [==============================] - 1s 1ms/step - loss: 16390.5977 - accuracy: 0.5046
Epoch 4/30
804/804 [==============================] - 1s 1ms/step - loss: 45078.3750 - accuracy: 0.5170
Epoch 5/30
804/804 [==============================] - 1s 1ms/step - loss: 10641.9805 - accuracy: 0.5283
Epoch 6/30
804/804 [==============================] - 1s 1ms/step - loss: 41999.6953 - accuracy: 0.5116
Epoch 7/30
804/804 [==============================] - 1s 1ms/step - loss: 36036.0000 - accuracy: 0.5095
Epoch 8/30
804/804 [==============================] - 1s 1ms/step - loss: 18493.5371 - accuracy: 0.5076
Epoch 9/30
804/804 [==============================] - 1s 1ms/step - loss: 4518.7031 - accuracy: 0.5415
Epoch 10/30
804/804 [==============================] - 1s 1ms/step - loss: 20926.1680 - accuracy: 0.5083
Epoch 11/30
804/804 [==============================] - 1s 1ms/step - loss: 10994.3027 - accuracy: 0.4949
Epoch 12/30
804/804 [==============================] - 1s 1ms/step - loss: 7996.3560 - accuracy: 0.5094
Epoch 13/30
804/804 [==============================] - 1s 1ms/step - loss: 6581.8394 - accuracy: 0.5094
Epoch 14/30
804/804 [==============================] - 1s 1ms/step - loss: 4441.5806 - accuracy: 0.5168
Epoch 15/30
804/804 [==============================] - 1s 1ms/step - loss: 4919.0654 - accuracy: 0.5042
Epoch 16/30
804/804 [==============================] - 1s 1ms/step - loss: 1079.2023 - accuracy: 0.5203
Epoch 17/30
804/804 [==============================] - 1s 1ms/step - loss: 3762.4861 - accuracy: 0.4995
Epoch 18/30
804/804 [==============================] - 1s 1ms/step - loss: 4330.4346 - accuracy: 0.5221
Epoch 19/30
804/804 [==============================] - 1s 1ms/step - loss: 672.6321 - accuracy: 0.5325
Epoch 20/30
804/804 [==============================] - 1s 1ms/step - loss: 10.6883 - accuracy: 0.5367
Epoch 21/30
804/804 [==============================] - 1s 1ms/step - loss: 5.0432 - accuracy: 0.6153
Epoch 22/30
804/804 [==============================] - 1s 1ms/step - loss: 0.6369 - accuracy: 0.6378
Epoch 23/30
804/804 [==============================] - 1s 1ms/step - loss: 0.6526 - accuracy: 0.6015
Epoch 24/30
804/804 [==============================] - 1s 1ms/step - loss: 0.6389 - accuracy: 0.6392
Epoch 25/30
804/804 [==============================] - 1s 1ms/step - loss: 0.6274 - accuracy: 0.6603
Epoch 26/30
804/804 [==============================] - 1s 1ms/step - loss: 0.6260 - accuracy: 0.6621
Epoch 27/30
804/804 [==============================] - 1s 1ms/step - loss: 0.7002 - accuracy: 0.5594
Epoch 28/30
804/804 [==============================] - 1s 1ms/step - loss: 0.6912 - accuracy: 0.5321
Epoch 29/30
804/804 [==============================] - 1s 1ms/step - loss: 0.6912 - accuracy: 0.5321
Epoch 30/30
804/804 [==============================] - 1s 1ms/step - loss: 0.6912 - accuracy: 0.5321

In [49]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 0s - loss: 1.3470 - accuracy: 0.6552 - 266ms/epoch - 993us/step
Loss: 1.3469794988632202, Accuracy: 0.6551603674888611

In [50]:
# Export our model to HDF5 file
nn.save("AlphabetSoupCharity_Optimization.h5")

## Second Run

In [51]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
number_features = len(X_train[0])
hidden_layer1 = 80
hidden_layer2 = 30
hidden_layer3 = 30
nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_layer1, input_dim=number_features, activation="relu"))

# Second hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_layer2, activation="relu"))

# Third hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_layer2, activation="relu"))

# Output layer
nn.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

# Check the structure of the model
nn.summary()

Model: "sequential_4"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_13 (Dense)            (None, 80)                5680

 dense_14 (Dense)            (None, 30)                2430

 dense_15 (Dense)            (None, 30)                930

 dense_16 (Dense)            (None, 1)                 31

=================================================================
Total params: 9,071
Trainable params: 9,071
Non-trainable params: 0
_________________________________________________________________

In [52]:
# Compile the model
nn.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [53]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 0s - loss: 0.6923 - accuracy: 0.4903 - 328ms/epoch - 1ms/step
Loss: 0.6922751069068909, Accuracy: 0.49026238918304443